<div class="media">
 <a href="/"><img src="/images/arrow1.png" class="mr-3" alt="backtomain"></a>
  <div class="media-body">
 <form method="POST" action="/employeeProfile/edit" >
 <h5 class="mt-0">EDIT PROFILE</h5>
</div>
</div>

 <div class="form-group">
    <label for="nameEmployee">Name</label>
    <input name="nameEmployee" type="text" class="form-control" id="nameEmployee" value="{{loggedInUser.nameEmployee}}">
  </div>

  <div class="form-group">
    <label for="secondnameEmployee">Second Name</label>
    <input name="secondnameEmployee" type="text" class="form-control" id="secondnameEmployee" value="{{loggedInUser.secondnameEmployee}}">
  </div>

<div class="form-group">
    <label for="age">Age</label>
    <input name="age" type="number" class="form-control" id="age"  value="{{loggedInUser.age}}">
  </div>

  <div class="form-group">
    <label for="biography">Bio</label>
    <input name="biography" type="text" class="form-control" id="biography" value="{{loggedInUser.biography}}">
  </div>

  <div class="form-group">
    <label for="emailEmployee">Email</label>
    <input name="emailEmployee" type="email" class="form-control" id="emailEmployee" value="{{loggedInUser.emailEmployee}}">
  </div>

  <div class="form-group">
    <label for="adressEmployee">Adress</label>
    <input name="adressEmployee" type="text" class="form-control" id="adressEmployee" value="{{loggedInUser.adressEmployee}}">
  </div>

  <div class="form-group">
    <label for="keywords">Keywords</label>
    <input name="keywords" type="text" class="form-control" id="keywords" value="{{loggedInUser.keywords}}">
  </div>
  

  
  <button type="submit" class="btn btn-primary" id="btns">Edit</button>
</form>

