<h1>This is the Edit</h1>



 

 <form method="POST" action="/employeeProfile/edit" > 


 <div class="form-group">
    <label for="nameEmployee">Name</label>
    <input name="nameEmployee" type="text" class="form-control" id="nameEmployee" value="{{loggedInUser.nameEmployee}}">
  </div>

  <div class="form-group">
    <label for="secondnameEmployee">Second Name</label>
    <input name="secondnameEmployee" type="text" class="form-control" id="secondnameEmployee" value="{{loggedInUser.secondnameEmployee}}">
  </div>

<div class="form-group">
    <label for="age">Age</label>
    <input name="age" type="number" class="form-control" id="age"  value="{{loggedInUser.age}}">
  </div>

  <div class="form-group">
    <label for="biography">Bio</label>
    <input name="biography" type="text" class="form-control" id="biography" value="{{loggedInUser.biography}}">
  </div>

  <div class="form-group">
    <label for="emailEmployee">Email</label>
    <input name="emailEmployee" type="email" class="form-control" id="emailEmployee" value="{{loggedInUser.emailEmployee}}">
  </div>

  <div class="form-group">
    <label for="adressEmployee">Adress</label>
    <input name="adressEmployee" type="text" class="form-control" id="adressEmployee" value="{{loggedInUser.adressEmployee}}">
  </div>
  
  
  
  <button type="submit" class="btn btn-primary">Edit</button>
</form>

