<div class="media">
 <a href="/"><img src="/images/arrow1.png" class="mr-3" alt="backtomain"></a>
  <div class="media-body">
     <h5 class="mt-0">EDIT PROFILE</h5>
</div>
</div>
<form method="POST" action="/employerProfile/edit" >

  <div class="form-group">
    <label for="nameEmployer">Name</label>
    <input name="nameEmployer" type="text" class="form-control" id="nameEmployer" value="{{loggedInUser.nameEmployer}}">
  </div>

  <div class="form-group">
    <label for="location">Location</label>
    <input name="location" type="text" class="form-control" id="location" value="{{loggedInUser.location}}">
  </div>

  <div class="form-group">
    <label for="emailEmployer">Email</label>
    <input name="emailEmployer" type="email" class="form-control" id="emailEmployer" value="{{loggedInUser.emailEmployer}}">
  </div>

  <div class="form-group">
    <label for="adress">Adress</label>
    <input name="adress" type="text" class="form-control" id="adress" value="{{loggedInUser.adress}}">
  </div>

  <div class="form-group">
    <label for="info">Info</label>
    <input name="info" type="text" class="form-control" id="info" value="{{loggedInUser.info}}">
  </div>
  
  <button type="submit" class="btn btn-primary" id="btns">Edit</button>
</form>


