<div class="media">
 <a href="/employeeProfile"><img src="/images/arrow1.png" class="backArrow" alt="backtomain"></a>
  <div class="media-body">
  <a href="/" ><img src="/images/icons/brand1.png" alt="logo-Jobber" class="mr-3" id="brandIcon1"></a>
  <br></br>
   <h2 class="mt-0">EDIT PROFILE</h2>
</div>
</div>
 <form method="POST" action="/employeeProfile/edit" enctype="multipart/form-data">


  <div class="form-group">
    <label for="imageEmployee"><strong>Upload your image</strong></label> <br></br>
    <input name="imageUrl" type="file" id="imageEmployee" value="{{loggedInUser.imageEmployee}}">
  </div>

  <div class="form-group">
    <label for="nameEmployee"><strong>Name</strong></label>
    <input name="nameEmployee" type="text" class="form-control" id="nameEmployee" value="{{loggedInUser.nameEmployee}}">
  </div>
 
  <div class="form-group">
    <label for="secondnameEmployee"><strong>Second Name</strong></label>
    <input name="secondnameEmployee" type="text" class="form-control" id="secondnameEmployee" value="{{loggedInUser.secondnameEmployee}}">
  </div>

  <div class="form-group">
    <label for="age"><strong>Age</strong></label>
    <input name="age" type="number" class="form-control" id="age"  value="{{loggedInUser.age}}">
  </div>

  <div class="form-group">
    <label for="biography"><strong>Bio</strong></label>
    <input name="biography" type="text" class="form-control" id="biography" value="{{loggedInUser.biography}}">
  </div>

  <div class="form-group">
    <label for="emailEmployee"><strong>Email</strong></label>
    <input name="emailEmployee" type="email" class="form-control" id="emailEmployee" value="{{loggedInUser.emailEmployee}}">
  </div>

  <div class="form-group">
    <label for="adressEmployee"><strong>Adress</strong></label>
    <input name="adressEmployee" type="text" class="form-control" id="adressEmployee" value="{{loggedInUser.adressEmployee}}">
  </div>
  
  <button type="submit" class="btn btn-primary" id="btns"><strong>EDIT</strong></button>
</form>

