<div class="media">
 <a href="/employerProfile"><img src="/images/arrow1.png" class="backArrow" alt="backtomain"></a>
  <div class="media-body">
    <a href="/" ><img src="/images/icons/brand1.png" alt="logo-Jobber" class="mr-3" id="brandIcon1"></a>
    <br></br>
    <h2 class="mt-0">EDIT PROFILE</h2>
</div>
</div>
<form method="POST" action="/employerProfile/edit" >

  <div class="form-group">
    <label for="nameEmployer"><strong>Name</strong></label>
    <input name="nameEmployer" type="text" class="form-control" id="nameEmployer" value="{{loggedInUser.nameEmployer}}">
  </div>

  <div class="form-group">
    <label for="location"><strong>Location</strong></label>
    <input name="location" type="text" class="form-control" id="location" value="{{loggedInUser.location}}">
  </div>

  <div class="form-group">
    <label for="emailEmployer"> <strong>Email</strong></label>
    <input name="emailEmployer" type="email" class="form-control" id="emailEmployer" value="{{loggedInUser.emailEmployer}}">
  </div>

  <div class="form-group">
    <label for="adress"> <strong>Adress</strong></label>
    <input name="adress" type="text" class="form-control" id="adress" value="{{loggedInUser.adress}}">
  </div>

  <div class="form-group">
    <label for="info"> <strong>Info</strong></label>
    <input name="info" type="text" class="form-control" id="info" value="{{loggedInUser.info}}">
  </div>
  
  <button type="submit" class="btn btn-primary" id="btns">EDIT</button>
</form>


