<div class="media">
 <a href="/loginEmployer"><img src="/images/arrow1.png" class="mr-3" alt="backtomain"></a>
  <div class="media-body">
<br></br>
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="employerProfile/propositions">Hiring Proposition</a>
  <a class="navbar-brand" href="employerProfile/search">Search Employees</a>
</nav>
<h1 class="mt-0">Hello {{loggedInUser.nameEmployer}}</h1>
</div>
</div>
<br></br>
<div>
  <br>
  <div class="employerData">
    <h5>Name: {{loggedInUser.nameEmployer}}</h5>
    <h5>Location: {{loggedInUser.location}}</h5>
    <h5>Email: {{loggedInUser.emailEmployer}}</h5>
    <h5>Adress: {{loggedInUser.adress}}</h5>
    <h5>Info: {{loggedInUser.info}}</h5>
  </div>

  <a href="/employerProfile/edit">
    <button type="submit" class="btn btn-primary" id="btns">Edit</button>
</a>
</div>

