<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/users/hiringPropositions.hbs">Hiring Proposition</a>
</nav>

<h1>Hello {{loggedInUser.nameEmployer}}</h1>

<div>
  
  <div class="employerData">
    <p>Name: {{loggedInUser.nameEmployer}}</p>
    <p>Location: {{loggedInUser.location}}</p>
    <p>Email: {{loggedInUser.emailEmployer}}</p>
    <p>Adress: {{loggedInUser.adress}}</p>
    <p>Info: {{loggedInUser.info}}</p>
  </div>

  <a href="/employerProfile/{{result._id}}edit">
    <button type="submit" class="btn btn-primary">Edit</button>
</a>
</div>

