<div class="media">
 <a href="/"><img src="/images/arrow1.png"  alt="backtomain" class="backArrow"></a>
 <a href='/logout' ><img src="/images/logout.png" class="logOutIcon"></a>
  <div class="media-body">
    <a href="/" ><img src="/images/icons/brand1.png" alt="logo-Jobber" class="mr-3" id="brandIcon1"></a>
    <br></br>
  <div id="headings"><h2 class="mt-0">EMPLOYEE PROFILE</h2></div>
  </div>
</div>
<br></br>
  <h3>Welcome to your profile {{loggedInUser.nameEmployee}}</h3>
  <br></br>
  <div class="btnsProfileLinks">
  <button  id="btns" class="btn btn-primary" onclick="window.location.href='/employeeProfile/jobPropositions';">JOB PROPOSITIONS</button>
  </div>
<br></br>
<div>
    <h5 class="mt-0" style="text-align: center;">YOUR PROFILE DETAILS</h5>
    <br></br>

    <div class="container">
      <div class="row">
        <div class="col-sm">
         <img class="profilePic" src='{{loggedInUser.imageEmployee}}'>
          <br></br>
      </div>

        <div class="col-sm">
          <ul class="list-group"></ul>
            <li class="list-group-item"><strong>Name: </strong> {{loggedInUser.nameEmployee}} <br></br>
            <strong>Second Name: </strong> {{loggedInUser.secondnameEmployee}}  <br></br>  
            <strong>Age: </strong> {{loggedInUser.age}}</li>
            <li class="list-group-item"><strong>Email: </strong> {{loggedInUser.emailEmployee}} <br></br>
            <strong>Adress: </strong> {{loggedInUser.adressEmployee}} {{#unless loggedInUser.adressEmployee }} Please enter an adress{{/unless}}</li>
            <li class="list-group-item"><strong>Biography: </strong> {{loggedInUser.biography}}{{#unless loggedInUser.biography }} Tell your future boss why you are awesome!{{/unless}}</li>
           </ul>  

        <div style="text-align: center;">
        <button type="submit" class="btn btn-primary" onclick="window.location.href='/employeeProfile/edit';" id="btns" >EDIT</button>
    </div>
  </div>
    
</div>

 <br></br>

<h4 class="mt-0" style="text-align: center;">KEYWORDS</h4>
<h5 class="mt-0" style="text-align: center;">{{loggedInUser.keywords}}</h5>
   

{{!-- ------------------------------FORM KEYWORDS------------------------------------------------- --}}



<form method="POST" action="/employeeProfile">
<div style="text-align: center;">
  <button type="submit" class="btn btn-primary" id="btns" >EDIT KEYWORDS</button>
</div>


<div class="container">
  <div class="row">
    <div class="col">
      <h4 style="text-align: center;"><strong>BACKEND</strong></h4>
       
      {{#each data.backend}}
       <div class="form-check form-check-inline">
        <input class="form-check-input" name = "keywords" type="checkbox" id="{{this.name}}" value="{{this.name}}" {{#if this.showLanguage}} checked {{else}} {{/if}}>
        <label class="form-check-label" for="inlineCheckbox1"><img src="/images/{{this.name}}.jpg" class = "img"  > {{this.name}}</label>
      </div>
      {{/each}}
    </div>
    <div class="col">
      <h4 style="text-align: center;"><strong>FRONTEND</strong></h4>
        
      {{#each data.frontend}}
       <div class="form-check form-check-inline">
        <input class="form-check-input" name = "keywords" type="checkbox" id="{{this.name}}" value="{{this.name}}" {{#if this.showLanguage}} checked {{else}} {{/if}}>
        <label class="form-check-label" for="inlineCheckbox1"><img src="/images/{{this.name}}.jpg" class = "img"  > {{this.name}}</label>
      </div>
      {{/each}}
    </div>
    <br></br>
    <div class="w-100"></div>
    <div class="col">
      <h4 style="text-align: center;"><strong>DEVOPS</strong></h4>
     
      {{#each data.devops}}
       <div class="form-check form-check-inline">
        <input class="form-check-input" name = "keywords" type="checkbox" id="{{this.name}}" value="{{this.name}}" {{#if this.showLanguage}} checked {{else}} {{/if}}>
        <label class="form-check-label" for="inlineCheckbox1"><img src="/images/{{this.name}}.jpg" class = "img" > {{this.name}}</label>
      </div>
      {{/each}}
    </div>
    <br></br>
    <div class="col">
      <h4 style="text-align: center;"><strong>DATA ANALYTICS</strong></h4>
    
      {{#each data.data}}
       <div class="form-check form-check-inline">
        <input class="form-check-input" name = "keywords" type="checkbox" id="{{this.name}}" value="{{this.name}}" {{#if this.showLanguage}} checked {{else}} {{/if}}>
        <label class="form-check-label" for="inlineCheckbox1"><img src="/images/{{this.name}}.jpg" class = "img"  > {{this.name}}</label>
      </div>
      {{/each}}
    </div>
  </div>
</div>
</form>