<div class="media">
 <a href="/employerProfile"><img src="/images/arrow1.png" class="backArrow" alt="backtomain"></a>
  <div class="media-body">
     <a href="/"><img src="/images/icons/brand1.png" class="mr-3" alt="logo-Jobber" id="brandIcon1"></a>
     <br></br>
      <div id="headings"><h2 class="mt-0">HIRING PROPOSITIONS</h2></div>
    </div>
</div>
<br></br>
{{#each offerData}}
<h4 style="text-align: center;">JOB OFFER</h4>
<div class="wrapper-signup">
<ul class="list-group">
<form method = "POST" action="/employerProfile/hiringPropositions/{{this._id}}/delete">
<li class="list-group-item"> <strong>Offer sent to: </strong>{{this.employeeId.nameEmployee}} {{this.employeeId.secondnameEmployee}}</li>
<li class="list-group-item"><strong>Status: </strong> {{this.status}}</li>
<li class="list-group-item" ><strong>Message: </strong><br><br>{{this.offerMessage}}</li>
{{#if this.isAccepted}}
<li class="list-group-item"><strong>Email: </strong>{{this.employeeId.emailEmployee}}</li>
</div>
{{else}}

<div class="centered">
<button type="submit" class="btn btn-primary" id="btns">DELETE OFFER</button>
</div>
{{/if}}
</ul>
</form>
<hr>
<br></br>
{{/each}}


  
 