<div class="media">
 <a href="/employerProfile/search"><img src="/images/arrow1.png" class="backArrow" alt="backtomain"></a>
  <div class="media-body">
     <a href="/"><img src="/images/icons/brand1.png" class="mr-3" alt="logo-Jobber" id="brandIcon1"></a>
          <div id="headings"> <h2 class="mt-0">SEARCH RESULTS</h2></div>
</div>
</div>
<br></br>


{{#each employeeData}}
   <ul class="list-group">
      <li class="list-group-item">
      <strong>Name: </strong>{{this.nameEmployee}} {{this.secondnameEmployee}} <br></br> 
      <strong>Age: </strong>{{this.age}}  <br></br> 
   {{#if this.hasAdress}}
      <strong>Adress: </strong>{{this.adressEmployee}}</li>
      {{/if }}
      <li class="list-group-item"><strong>Skillset: </strong>{{this.keywords}} </li>
   </ul>

   {{#if this.match}}
    <button type="button" disabled="true" class="btn btn-primary" id="btns">OFFER SENT</button>
    {{else}}
    <button type="button" class="btn btn-primary" id="btns"><a href="/employerProfile/offer/{{this._id}}" id="hyplink">SEND OFFER</a></button>
   {{/if}}
<hr>
<br></br>
{{/each}}


{{#if errorMessage}}
{{errorMessage}}
{{/if}}




